#carousel{
    height: 55vh;
    width: 85vw;
    background-color: #f4f4f4;
}

.carousel-div {
    background-color: #f4f4f4;
    padding: 2rem 0;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08), 0 -4px 18px rgba(0, 0, 0, 0.08);
}

.carousel-img {
    max-width: 900px;
}

.carousel-img > img {
    height: 55vh;
    width: 75vw;
    max-width: 900px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

/* .carousel-div {
    margin-bottom: 100px;
} */
/* @media only screen and (min-width: 480px) and (max-width: 1400px){
    .carousel-img > img {
        height: 75vh
    }
} */

@media only screen and (max-width: 900px) {
    .carousel-div {
        height: 60vh;
    }
}

@media only screen and (min-width: 431px) and (max-width: 540px) {
    .carousel-img > img {
        height: 45vh;
        width: 90vw;
    }

    .carousel-div {
        height: 50vh;
    }
}
