:root {
  --primary: #ed1c26
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}


.app {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav-links{
  max-width: 100vw !important;
}

.nav-container {
  height: 10vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
  z-index: 1;
}

.MuiTabs-indicator {
  background-color: var(--primary) !important;
}

.Mui-selected {
  color: var(--primary) !important;
  font-family: "Rock Salt", cursive !important;
}

.logo {
  height: 100%;
  /* border: solid black 1px; */
  width: 10%;
}

.crossfit {
  height: 80%;
  /* border: solid black 1px; */
}

.contact-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.rock-salt {
  font-family: "Rock Salt", cursive !important;
}

.banner-logos {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;

}

#facebook,
#instagram {
  width: 7%;
}

.banner {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/assets/brick-wall-blank.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  max-width: 100vw;
  height: 30vh;
}

.banner>img {
  width: 70vw;
  height: 650px;
  position: relative;
  top: 25px;
  z-index: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.secondary-banner {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.newsletter-container {
  display: flex;
  height: 75px;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: grey;
  color: white;
  border: 1px solid black;
}

.newsletter-container>input {
  width: 300px;
  height: 35px;
  border-radius: 8px;
  padding: 5px;
}

.newsletter-container>button {
  height: 35px;
  width: 100px;
  border-radius: 8px;
  padding: 5px;
}


/* Trainers */

.coaches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.trainer-layout {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.trainer-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 20px;
  /* Move list to the left by adding margin */
}

.trainer-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.trainer-item:hover {
  background-color: #eee;
}

.trainer-thumbnail {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

.trainer-details {
  flex: 2;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.coach-image {
  width: 30%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

.coach-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bio,
.career-section,
.quote {
  margin-bottom: 20px;
  width: 65%;
}



.career-section>ul {
  padding-left: 20px;
}

.select-coach-txt {
  text-align: center;
  font-size: 1.5rem;
}

.footer-logo {
  height: 100%;
  width: 5%;
}

.selected {
  background-color: #f4f4f4;
  outline: solid black 1px;
}

/* Coaches */

.crossfit-coaches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.crossfit-coaches {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5vw;
  margin-top: 3vh;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  max-width: 1200px;
}

.coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.crossfit-coach-img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin-bottom: 4%;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

/* Team */

.team-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}