:root {
  --background-color: #f4f4f4;;
  --secondary-background-color: #f4f4f4;
  --text-color: black;
  --powerhouse-red: #ed1c26;
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body.dark-mode {
  --background-color: #1a1a1a;
  --secondary-background-color: #1e1e1e;
  --text-color: white;
  --text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.15);
  --box-shadow: rgba(255, 255, 255, 0.15) 0px 2px 4px;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Syne", sans-serif !important; */
  /* font-family: "Lato", sans-serif !important; */
  font-family: "Anek Devanagari", sans-serif !important;
  /* font-family: "Mulish", sans-serif !important; */
  text-shadow: var(--text-shadow);
}

html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.nav-links {
  max-width: 100vw !important;
}

.signup-btn {
  background-color: var(--powerhouse-red);
  border: 1px solid red;
  height: auto;
  padding: 10px;
  width: 100px;
  font-weight:500;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-signup-btn {
  width: 150%;
}

.nav-container {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom: 25px;
  z-index: 55;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary-background-color);
}

.MuiTab-textColorPrimary {
  color: var(--text-color) !important;
}

.MuiTabs-indicator {
  background-color: var(--powerhouse-red) !important;
}

.Mui-selected {
  color: var(--powerhouse-red) !important;
  /* font-family: "Rock Salt", cursive !important; */
}

.logo {
  /* border: solid black 1px; */
}

.crossfit {
  height: 100% !important;
  width: auto !important;
  border-radius: 50%;
  /* border: solid black 1px; */
}

.crossfit-header > h2 {
  font-family: "Rock Salt", cursive !important;
  color: white;
  z-index: 1;
  font-size: 8em;
  position: relative;
  transform: rotate(-8deg);
}

.crossfit-page > .newsletter-container {
  margin-top: 0;
}

.crossfit-header {
  background-image: url("./assets/crossfit/crossfitChalk.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 40vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.header-one {
  color: white;
  z-index: 1;
  position: relative;
  font-size: 48px;
  text-transform: uppercase;
  top: 20px;
}

.crossfit-header-logo {
  display: none;
}

.crossfit-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the 0.5 for the level of darkness */
  z-index: 1;
}

.schedule-container {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  gap: 50px;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.schedule-logo-div {
  height: auto;
  width: 25vw;
}
.schedule-logo-div > img {
  width: 100%;
}

.schedule-title-div {
  background-color: var(--secondary-background-color);
  width: 100%;
}

.schedule-title {
  font-size: 46px;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 25px;
  font-weight: 700;
  color: var(--text-color);
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.schedule-section {
  display: flex;
  flex-direction: row;
  width: 60vw;
  align-items: flex-start;
  justify-content: center;
}

.schedule-right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-section > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-subtitle {
  font-size: 28px;
  margin-bottom: 10px;
  color: --text-color;
  text-align: center;
}

.schedule-list {
  list-style-type: none;
  padding: 0;
}

.horizontal-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.schedule-list-item {
  font-size: 20px;
  margin: 8px 16px;
  text-align: center;
  width: 400px;
}

/* Style for time span */
.schedule-time {
  color: red;
  font-weight: bold;
}

.whycrossfit-container {
  height: 75vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  background-color: var(--secondary-background-color);
}

.group-pic-container {
  height: 55vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  overflow: hidden;
  gap: 100px;
}

.crossfit-img-logo-group {
  width: 25%;
  display: none;
}

.crossfit-group-pic {
  width: 50%;
  border-radius: 14px;
}

.grid-container {
  height: 55vh;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
}

/* .whycrossfit-container > img {
  height: 40vh;
  width: 30vw;
  position: absolute;
  top: 33%; 
} */

.left-grid {
  grid-column: 0/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.left-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.middle-grid {
  grid-column: 2/3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-grid {
  grid-column: 3/4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.middle-grid > h1 {
  color: #ed1c26;
  font-family: "Rock Salt", cursive !important;
  font-size: 46px; /* Slightly increased font size */
  padding-bottom: 25px;
  transform: rotate(-10deg);
  position: relative;
  bottom: 100px;
  text-align: center; /* Slightly rotates the heading */
}

.middle-grid > img {
  height: 80%;
  width: auto;
  grid-column: 1/2;
  grid-row: 0/4;
  border-radius: 50%;
}

.left-title > h3 {
  font-size: 24px;
  color: var(--primary);
}

.section-container-right > p {
  text-align: right;
  padding-right: 10%;
}

.section-container > p {
  font-size: 14px;
  padding-left: 10%;
}

.drop-in-button,
.join-button {
  background-color: var(--powerhouse-red); /* Red background color */
  color: white; /* White text */
  font-size: 18px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  padding: 12px 24px;
  border: none;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s; /* Smooth hover effects */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  margin-top: 25px;
  width: 175px;
}

.drop-in-button:hover,
.join-button:hover {
  background-color: #b71c1c; /* Darker red on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

.drop-in-button:active,
.join-button:active {
  transform: scale(0.95); /* Slightly smaller when clicked */
}

.why-icon-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 40vh;
  width: 45vw;
  position: absolute;
}

.why-icon-descriptions {
  display: flex;
  height: 50vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  top: 75px;
}

.left {
  padding-left: 100px;
  height: 25vh;
  gap: 115px;
  display: flex;
  flex-direction: column;
}

.right {
  padding-right: 100px;
  height: 25vh;
  gap: 115px;
  display: flex;
  flex-direction: column;
}

.icon-left {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.icon-right {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-self: flex-end;
}

.icon-description-div {
  height: 36vh;
  width: 20vw;
  position: absolute;
  top: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon-title > p {
  max-width: 250px;
}

.icon-title > h3 {
  color: var(--powerhouse-red);
}

.right-icon-div {
  right: 5%;
  margin-top: 10px;
}

.left-icon-div {
  left: 5%;
  align-items: flex-start;
}

.contact-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 30%;
  position: relative;
}

.contact-banner > h4 {
  font-size: 1.5rem;
  text-align: center;
}

.phone-link {
  /* display: none; */
  display: block;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 3rem !important;
  width: 100%;
}

.rock-salt {
  font-family: "Rock Salt", cursive !important;
}

.banner-logos {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#home {
  max-width: 100%;
}

#facebook,
#instagram {
  width: 25%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/brick-wall-blank.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  margin-top: 10vh;
  position: relative;
}

.banner > h1 {
  color: white;
  font-family: "Rock Salt", cursive !important;
  position: relative;
  top: 145px;
  z-index: 1;
  font-size: 48px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 0s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    /* Make it visible */
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the 0.5 for the level of darkness */
  z-index: 1;
  /* Places the overlay on top of the image */
}

.banner > img {
  height: 170%;
  width: 95%;
  max-width: 1050px;
  z-index: 15;
  position: relative;
  opacity: 0;
  animation: moveAndZoom 3s ease-in-out forwards;
  top: 30px;
}

.personal-training-container {
  min-height: 85vh;
}

.pt-service-header {
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  text-shadow: var(--box-shadow);
  text-underline-offset: 0.4em; /* Adjust the value as needed */
  font-size: 46px;
  margin-top: 25px;
}

@keyframes moveAndZoom {
  0% {
    opacity: 0;
    transform: scale(0.25);
    /* Start at 0 degrees rotation */
  }

  50% {
    opacity: 0.5;
    transform: scale(1.5);
    /* Zoom in and rotate to 180 degrees */
  }

  100% {
    opacity: 1;
    transform: scale(1);
    /* Zoom out and complete a full 360-degree rotation */
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.secondary-banner {
  display: flex;
  height: 35vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: var(--secondary-background-color);
  position: relative;
}

.logo-div {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
}

#ptc-logo {
  text-align: center;
  width: 60%;
  position: relative;
}

#ptc-logo > img {
  width: 65%;
}

#crossfit-logo {
  width: 45%;
}

.secondary-banner > .logo {
  height: 150%;
  width: 20%;
  z-index: 0;
}

.secondary-banner > .crossfit {
  height: 100%;
  width: 20%;
}

.newsletter-container {
  display: flex;
 
  height: 20vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(170deg, #ed1c26 0%, #ed1c26 40%, #791f1f 50%, #333 10%, #333 100%);
  justify-content: center;
  gap: 200px;
  color: white;
  /* margin-bottom: 15px; */
  z-index: 2;
}

.newsletter-div {
  display: flex;
  flex-direction: column;
}

.newsletter-div > h1 {
  font-size: 62px;
}
.newsletter-div > p {
  font-size: 24px;
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 14px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.newsletter-container > input {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
  height: 30%;
  border-radius: 8px;
  padding: 15px;
  font-size: 160%;
}

.newsletter-container > h1 {
  font-size: 220%;
}

.newsletter-container > button {
  width: 20%;
  height: 35%;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  word-spacing: 5px;
}

button {
  padding: 15px;
  border-radius: 8px;
}

.ait-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.ait-list li {
  flex: 1 1 300px;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.ait-list li strong {
  color: #333;
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .ait-list li {
    flex: 1 1 100%;
    text-align: center;
  }

  .ait-list {
    gap: 0;
  }
}

/* Trainers */

.coaches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.trainer-layout {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.trainer-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 20px;
  /* Move list to the left by adding margin */
}

.trainer-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  box-shadow: var(--box-shadow);
}

.trainer-item:hover {
  background-color: var(--secondary-background-color);
}

.trainer-thumbnail {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}
#logo-ptc {
  width: 500px;
}

.trainer-details {
  flex: 2;
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coach-image {
  width: 30%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

.coach-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bio,
.career-section,
.quote {
  margin-bottom: 20px;
  width: 65%;
}

.career-section > ul {
  padding-left: 20px;
}

.select-coach-txt {
  text-align: center;
  font-size: 1.5rem;
}

.footer-logo {
  height: 100%;
  width: 5%;
}

.selected {
  background-color: var(--secondary-background-color);
  outline: solid black 1px;
}

/* Coaches */

.crossfit-coaches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: var(--background-color);
  padding-top: 25px;
  padding-bottom: 25px;
}

.crossfit-coaches-container > h1 {
  color: var(--primary) !important;
  font-family: "Rock Salt", cursive !important;
}

.crossfit-coaches {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5vw;
  margin-top: 3vh;
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 1200px;
}

.coaches-container > h1 {
  font-size: 46px;
  align-self: start;
}
.coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.crossfit-coach-img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin-bottom: 4%;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

.coach > h3 {
  width: 250px;
  text-align: center;
}

/* Team */

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  background-color: var(--secondary-background-color);
}

.team-background {
  background-image: url("/src/assets/handsin.jpg"); /* Adjust the path as needed */
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-background > h1 {
  font-size: 62px;
  z-index: 3;
  position: relative;
  color: white;
}

.team-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.directions-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 10px;
  position: relative;
  height: 75vh;
background-color: var(--secondary-background-color);
color: var(--text-color);
}

.directions-container > h1 {
  position: relative;
  padding: 10px;
  z-index: 2;
}

#review-header {
  color: var(--text-color);
  padding-top: 25px;
  background-color: var(--secondary-background-color);
  height: 100%;
  width: 100vw;
  text-align: center;
}

#test {
  background-color: var(--secondary-background-color);
}

.merch-container {
  height: 60vh;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.merch-container > h1 {
  font-size: 62px;
}

.directions-social-media {
  height: 15vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  gap: 50px;
  margin-top: 50px;
}
#instagram-directions,
#facebook-directions {
  width: 90%;
}

.directions-container > h2 {
  padding: 25px;
  font-size: 38px;
}

#directions-logo {
  height: 20%;
  width: 20%;
}

.service-banner {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  /* background-image: linear-gradient(to left, #791f1fe4, #ec1906); */
  color: white;
  position: relative;
  z-index: 1;
  background-color: var(--secondary-background-color);
}

.service-layout {
  display: flex;
  height: 90%;
  width: 100%;
  max-width: 1200px;
}

/* .service-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
} */

.column {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 20px;
  z-index: 0;
  color: black;
}

.one > h1 {
  color: var(--text-color);
  padding-left: 10px;
  font-size: 46px;
}

.one > h2 {
  cursor: pointer;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 20px;
}

.one > h2:hover {
  font-size: 22px;
  color: white;
  background-color: #333;
}

/* CSS */
.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #f26c5a, #ed1c26);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 2;
  border: 0;
  transition: box-shadow 0.2s;
}

.button-42:hover {
  box-shadow: rgba(249, 249, 250, 0.982) 0 3px 8px;
}

.one > img {
  height: 60%;
  width: 95%;
  position: absolute;
  top: 75px;
  border-radius: 50%;
}

.service-img {
  height: 65%;
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 25px;
  margin-top: 30px;
  border-radius: 14px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.one > ul {
  font-size: larger;
}

#service-logo {
  height: 40%;
  width: 50%;
}

/* 
.one>h3 {
  padding: 10px;
  position: relative;
  bottom: 85px;
  } */

.one > button {
  width: 60%;
  font-size: larger;
}

.two {
  background-color: #f4f4f4;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .two>img {
  height: 50%;
  width: 40%;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 15px;
} */

.two > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 18px;
  background: linear-gradient(
    170deg,
    #333 0%,
    #333 50%,
    #791f1f 50%,
    #ed1c26 60%,
    #ed1c26 100%
  );
  color: white;
  /* position: absolute;

  right: 11%;
  bottom: 20%;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-weight: 700; */
}

.two > button:hover {
  /* transform: scale(1.25); */
  color: white;
  background-color: #333;
  /* Scale the button on hover */
}

.two > h1 {
  margin-bottom: 20px;
  border-bottom: 2px solid;
  font-size: 32px;
  width: 100%;
  max-width: 300px;
  padding-bottom: 15px;
}

.two > h3 {
  height: 100%;
  width: 45%;
  font-size: 18px;
}

.three > ul {
  font-size: larger;
}

.three > button {
  width: 60%;
  font-size: larger;
}

.training-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  /* Distribute the cards evenly */
}

.training-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  flex-basis: calc(30% - 2rem);
  /* 30% width minus margins */
  box-sizing: border-box;
  /* Ensures padding/margin doesn't affect width */
  height: auto;
  
  /* Let the content dictate height */
}

.training-item img {
  width: 100%;
  /* Take full width of card */
  height: auto;
  /* Maintain aspect ratio */
}

.image-container {
  position: relative;
  width: 90%;
  height: auto;
  /* Adjust this for your desired aspect ratio (height/width)*100 */
  overflow: hidden;
  /* Hide anything that exceeds the bounds */
  background-color: var(--secondary-background-color);
  border-radius: 30px;
}

.image-container img {
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 30px;
  /* Fit the image within the bounds without cropping */
}

.crossfit-container {
  display: flex;
  margin: 5vw;
}

.crossfit-info {
  width: 50%;
  text-align: center;
  font-size: 1.3rem;
}

.crossfit-info > * {
  margin-bottom: 2vh;
}

.crossfit-img-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crossfit-img-div > img {
  width: 40%;
}

.crossfit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* padding: 15vw; */
}

.crossfit-banner {
  width: 60vw;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.crossfit-journal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--secondary-background-color);
  /* background-image: linear-gradient(to left, #791f1fe4, #ec1906); */
  padding: 2vw;
  padding-top: 15px;
  border-top: 3px solid #ed1c26;
}

.crossfit-journal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.crossfit-journal-text > * {
  margin-bottom: 2vh;
  color: --secondary-background-color;
  font-family: "Rock Salt", cursive !important;
  font-size: 46px;
  padding-top: 25px;
}

.crossfit-journal-img {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crossfit-journal-img > img {
  width: 100%;
}

.crossfit-journal-text > a {
  text-decoration: none;
}

.crossfit-journal-text > a > button {
  display: flex;
  font-size: larger;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 24px;
  background: linear-gradient(
    170deg,
    #333 0%,
    #333 50%,
    #791f1f 50%,
    #ed1c26 60%,
    #ed1c26 100%
  );
  color: white;
}

.youth-page {
  display: flex;
  margin-top: 0 !important;
}

.youth-info {
  width: 50%;
  padding-left: 5vw;
}

.youth-info > * {
  margin-bottom: 2vh;
}

.youth-info > h1 {
  font-size: 3rem;
}

.youth-info > h3 {
  font-size: 1.5rem;
}

.youth-info > p {
  font-size: 1.2rem;
}

.youth-info > ul {
  font-size: 1.2rem;
}

.youth-img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youth-img > img {
  width: 50%;
}

.dropdown {
  padding: 0;
}

.dropdown > li {
  list-style-type: none;
  /* Remove bullet points */
  /* Add padding inside dropdown */
  margin: 0;
  background-color: #f8f8f8;
  /* Light background */
  border: 1px solid #ddd;
  /* Border around dropdown */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow for depth */
  min-width: 200px;
  padding: 10px;
}

.carousel-img > .pullupgirl {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.skull-div {
  background-size: contain;
  /* Ensure the image covers the entire div */
  background-position: center;
  /* Center the image */
  background-repeat: repeat;
  /* Prevent image tiling */
  padding: 2px;
  margin: 10px;
  height: 2vh;
  width: 100%;
}

.footer-div {
  background-image: linear-gradient(to left, #791f1fe4, #ec1906);
  color: #fff;
  padding: 10px;
  left: 0;
  bottom: 0;
  max-width: 100vw;
  font-size: 12px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  z-index: 0;
}

.footer > img {
  position: relative;
  z-index: 0;
}

.footer > p {
  z-index: 0;
}

.carousel-div {
  background-color: var(--secondary-background-color);
  height: 65vh;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-slider {
  height: 55vh;
  width: 75vw;
  max-width: 1000px;
  border-radius: 10px;
}

.mapstyles {
  width: 70vw;
  height: 55vh;
  z-index: 0;
  max-width: 800px;
  padding-bottom: 5px;
}

.training-tabs {
  background-color: var(--secondary-background-color);
}

.training-div,
.youth-page,
.team-container > .newsletter-container {
  margin-top: 10vh;
}

.mobile-coaches-container {
  display: none;
}
.full-coaches-container {
  display: flex;
  width: 100vw;
  background-color: var(--secondary-background-color);
}

.sports-training-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: start;
}


.sports-training-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.sports-options {
  background-color: var(--secondary-background-color);
}
#sports-coaches-h1 {
  margin: 25px;
}
.mobile-service-container {
  background-color: var(--secondary-background-color);
  display: none;
}

.mobile-service-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-title {
  text-align: center;
  padding: 25px;
}

.mobile-learn-btn {
  background-image: linear-gradient(to right, #791f1fe4, #ec1906);
  color: white;
  font-size: 24px;
}

.mobile-service-item {
  height: 100px;
  max-height: 150px;
}

.chevron {
  width: 20%;
}

.inclusive-nav {
  display: flex;
  font-size: larger;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 24px;
  /* background: linear-gradient(170deg, #333 0%, #333 50%, #791f1f 50%, #ed1c26 60%, #ed1c26 100%); */
  color: black;
  background-color: white;
}

.inclusive-nav-mobile {
  display: none;
}

.adaptive-inclusive {
  /* background-color: var(--secondary-background-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  width: 100vw;
  padding: 25px;
  background: linear-gradient(
    170deg,
    #333 0%,
    #333 50%,
    #791f1f 50%,
    #ed1c26 60%,
    #ed1c26 100%
  );
}

.adaptive-inclusive > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px 25px 0px;
  width: 80vw;
  color: white;
}

.adaptive-inclusive > div > h1 {
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 15px;
}

.adaptive-inclusive > ul {
  font-size: 1.2rem;
}

.adaptive-inclusive > ul > li {
  margin-top: 0.5vh;
}

.adaptive-inclusive > button {
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  box-shadow: var(--box-shadow);
  background-color: white;
}

.adaptive-inclusive > button:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.adaptive-inclusive > * {
  margin-top: 1vh;
}
.schedule-btns {
  display: flex;
  gap: 30px;
}

.calendar-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-breaks {
  align-items: center;
  gap: 15px;
  display: none;
}

.personal-training-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background-color: var(--secondary-background-color);
  width: 100%; /* Ensures the container takes full width */

}

/* For WebKit browsers (Chrome, Safari, Edge) */
.personal-training-container::-webkit-scrollbar {
  height: 12px; /* Adjust the height of the scrollbar */
  width: 8px;
  background: #D9D9D9; /* Track color */
}

.personal-training-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.personal-training-container::-webkit-scrollbar-thumb {
  
  background-color: var(--powerhouse-red); /* Thumb color */
  border-radius: 10px;
}


.personal-training-container::-webkit-scrollbar-thumb:hover {
  background-color: #707070; /* Thumb color on hover */
}
.pt-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: start;
  justify-content: start;
  height: 40vh;
  position: relative;
  margin-top: 10vh;
  width: 100vw;
}

.pt-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  /* Adjust the 0.5 for the level of darkness */
  z-index: 0;
}

.intro-section {
  margin-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  /* background-color: var(--secondary-background-color); */
  font-size: 1.5rem;
  z-index: 1;
  color: white;
}

.intro-section-sports {
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: end;
  /* background-color: var(--secondary-background-color); */
  font-size: 1.5rem;
  z-index: 1;
  color: white;
  position: relative;
  margin-right: 50px;
  margin-top: 125px;
}

.intro-section-sports > p {
  width: 50%;
  text-align: end;
}

.intro-section-sports > h1 {
  font-size: 62px;
}

.intro-section > h1 {
  font-size: 62px;
}

.intro-section > p {
  font-size: 26px;
  width: 75%;
  text-align: center;
}
.service-section {

  /* border: solid 1px var(--text-color); */
  
  /* white-space: normal; */
  /* background: linear-gradient(170deg, #ed1c26 0%, #ed1c26 40%, #791f1f 50%, #333 10%, #333 100%); */
  /* color: white; */
  border: 1px solid white;
  padding:10px;
  box-shadow: var(--box-shadow);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  max-width: 400px;
  width: 25vw;
  min-width: 250px;
  background-color: var(--secondary-background-color);
  text-align: center;
}

.personal-service-section {
  border: 1px solid white;
  padding:10px;
  box-shadow: var(--box-shadow);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  max-width: 400px;
  width: 25vw;
  min-width: 250px;
  background-color: var(--secondary-background-color);
  text-align: center;
}
/* Style the custom scrollbar */
.button-scroll::-webkit-scrollbar {
  height: 8px; /* height of horizontal scrollbar */
}

.button-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* background of the scrollbar track */
}

.button-scroll::-webkit-scrollbar-thumb {
  background-color: #888; /* scrollbar thumb color */
  border-radius: 10px; /* rounded edges for the scrollbar */
}

.button-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* darker thumb color when hovered */
}


.personal-service-section > img {
  width: 90%;
}

.personal-service-section > img {
  width: 90%;
  height: auto;
   border-radius: 14px;
}
.service-section > img {
  width: 90%;
 height: auto;
  border-radius: 14px;
}
.personal-service-section > p {
  width: 90%;
  height: auto;
  white-space: normal;
}

.service-section > p {
  width: 90%;
  height: auto;
  white-space: normal;
}



/* Mobile devices (smallest screens like phones, portrait mode) */
@media only screen and (max-width: 600px) {

  .newsletter-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .signup-btn {
    position: relative;
    right: 20px;
  }

  .newsletter-div > h1 {
    font-size: 32px;
  }

  .newsletter-div > p {
    font-size: 16px;
  }


  .banner-logos {
    width: 40%;
  }
  .team-background > h1 {
    font-size: 26px;
    text-align: center;
  }

  .pt-service-header {
    text-align: center;
  }
  .banner {
    margin-top: 0;
    /* Remove margin for mobile screens */
    height: 60vh;
    /* Adjust height if needed */
  }
  .ait-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Adjust the space between items as needed */
    list-style: none;
    padding: 10px;
  }

  .ait-list li {
    flex: 1 1 calc(50% - 20px); /* Each item takes up 50% of the width minus the gap */
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .ait-list strong {
    display: block;
    margin-bottom: 8px;
  }

  .ait-list > li > p {
    display: none;
  }
  .banner > img {
    top: 50px;
  }

  .schedule-title {
    font-size: 28px;
  }

  .schedule-list-item {
    width: 200px;
    font-size: 28px;
  }

  .schedule-container {
    flex-direction: column;
    width: 90vw;
  }

  .schedule-subtitle {
    font-size: 35px;
  }
  .carousel-div {
    margin-bottom: 0;
  }

  .schedule-section {
    width: 90vw;
    flex-direction: column;
    align-items: center;
  }

  .schedule-section > div {
    width: 95%;
  }

  .inclusive-nav-mobile {
    display: block;
  }

  .inclusive-nav {
    display: none;
  }

  .chevron {
    margin-right: 10px;
  }
  .training-tabs {
    background-color: var(--background-color);
  }

  .ait-header {
    font-size: smaller;
    text-align: center;
  }

  .secondary-banner {
    margin-top: 0;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 100vw;
  }

  .logo-div {
    width: 40%;
  }

  #ptc-logo {
    width: 60%;
  }

  .secondary-banner > .logo {
    height: auto;
    width: 25%;
    border-radius: 50%;
  }

  .secondary-banner > .crossfit {
    height: auto;
    width: 25%;
    border-radius: 50%;
  }

  .contact-banner {
    width: 100%;
  }

  .contact-banner > h4 {
    font-size: 12px;
    text-align: center;
  }
  .full-coaches-container {
    display: none;
  }

  /* .contact-banner > h2{
    display: none;
  } */

  .phone-link {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.25rem !important;
    width: 100%;
  }

  .newsletter-container {
    height: 100%;
    font-size: 8px;
    gap: 10px;
    padding: 5px;
    padding-bottom: 20px;
  }

 

  .newsletter-container > h1 {
    width: 80%;
    margin: 10px;
    font-size: 18px;
    text-align: center;
  }

  .banner > h1 {
    font-size: 32px;
    top: 150px;
  }

  .newsletter-container > button {
    height: 25px;
    font-size: 10px;
    width: 75px;
    border-radius: 8px;
  }

  .carousel-img > img {
    height: 35vh;
  }

  .carousel-slider {
    height: 35vh;
  }

  .carousel-div {
    height: 45vh;
  }

  .column {
    padding: 5px;
  }

  .one {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95vw;
  }

  .service-banner {
    padding: 5px;
  }

  .one > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 100px;
    height: 45px;
    padding: 5px;
    margin: 10px;
  }

  .one > h2:hover {
    font-size: 12px;
  }

  .two {
    height: 55vh;
    top: 25px;
    padding: 10px;
    width: 97vw;
    align-items: center;
    justify-content: space-around;
  }

  .two > h1 {
    font-size: 24px;
    align-self: center;
    margin-bottom: 10px;
    text-align: center;
    max-width: 95%;
  }

  .two > h3 {
    font-size: 14px;
    height: 30px;
    width: 95%;
    align-self: center;
    text-align: center;
  }

  .two > img {
    height: 50%;
    width: 35%;
    top: 150px;
  }

  .two > button {
    height: 30px;
    width: 70px;
    font-size: 7px;
    padding: 0;
    font-weight: 700;
    position: initial;
    align-self: center;
    margin: 15px;
  }

  .directions-container {
    height: 30vh;
  }

  .mapstyles {
    height: 100%;
    width: 90vw;
  }

  .crossfit-banner {
    width: 90%;
    margin-top: 1vh;
  }

  .directions-text > h2 {
    font-size: 14px;
    padding: 2px;
  }

  .directions-text > p {
    font-size: 10px;
  }

  .directions-text > button {
    height: 30px;
    font-size: 12px;
  }

  .skull-div {
    height: 1vh;
  }

  .footer-div {
    height: 15vh;
    font-size: 12px;
    gap: 5px;
    background-size: cover;
  }

  .footer-div > img {
    display: none;
  }

  .crossfit-page > .newsletter-container {
    margin-top: 0;
  }

  .training-div > .newsletter-container {
    margin-top: 10vh;
  }

  .youth-page > .newsletter-container {
    margin-top: 10vh;
  }

  .team-container > .newsletter-container {
    margin-top: 10vh;
  }

  .team-container {
    margin-top: 12vh;
  }
  .service-img {
    height: 230px;
    width: 95%;
    align-self: center;
    margin: 0;
    position: initial;
    margin-bottom: 10px;
  }

  .header-one {
    font-size: 18px;
    top: 5px;
  }

  .crossfit-header > h2 {
    font-size: 46px;
    top: 5px;
  }

  .crossfit-header {
    background-position: center center;
    height: 40vh;
  }

  .training-container {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 75vw;
    padding: 1rem;
  }

  .training-item {
    width: 100%;
    margin: 0;
    /* margin-bottom: 1rem; */
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .css-xov06r {
    align-items: flex-start !important;
    width: 25% !important;
    margin: 0;
    margin-top: 20px;
  }

  .css-19kzrtu {
    padding: 0 !important;
  }

  .training-div {
    margin: 0;
    padding: 0;
    margin-top: 10vh;
  }

  .youth-page {
    flex-direction: column-reverse;
    width: 100%;
    padding-bottom: 1vh;
  }

  .youth-info {
    width: 100%;
    padding-right: 0;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    margin: 1vh;
    box-shadow: var(--box-shadow);
  }

  .youth-info > h1 {
    font-size: 1.5rem;
  }

  .youth-info > h3 {
    font-size: 1rem;
  }

  .youth-info > p {
    font-size: 0.8rem;
  }

  .youth-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    margin: 1vh;
  }

  .youth-img > img {
    width: 100%;
  }

  .trainer-list {
    width: 25%;
  }

  .trainer-item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .trainer-thumbnail {
    width: 90%;
    border-radius: 35%;
  }

  .coaches-container {
    display: none;
  }

  .mobile-coaches-container {
    padding: 1rem;
    display: block;
    background-color: var(--background-color);
  }

  .mobile-trainer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mobile-trainer-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }

  .mobile-trainer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background-color: var(--background-color);
  }

  .mobile-trainer-header > h3 {
    width: 50%;
  }

  .mobile-trainer-thumbnail {
    width: 25%;
    border-radius: 50%;
    margin-right: 1rem;
    background-position: center center;
  }

  .mobile-trainer-details {
    padding: 0.5rem;
    background-color: var(--secondary-background-color);
  }

  .schedule-btns {
    flex-direction: column;
    align-items: center;
  }

  .schedule-container {
    gap: 5px;
  }

  .career-section {
    width: 100%;
    margin-top: 0.5rem;
  }
  .line-breaks {
    display: flex;
  }

  .quote {
    width: 100%;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 40%;
  }

  .right-grid {
    position: relative;
    bottom: 25px;
  }

  .middle-grid > img {
    display: none;
  }

  .middle-grid > h1 {
    position: relative;
    bottom: 625px;
    font-size: 34px;
  }

  .group-pic-container {
    flex-direction: column;
    padding: 0;
    height: 20vh;
    gap: 0;
  }

  .crossfit-img-logo-group {
    width: 50%;
    display: block;
  }

  .crossfit-group-pic {
    width: 70%;
    height: auto;
    display: none;
  }

  .whycrossfit-container {
    height: 100%;
    padding-bottom: 50px;
    padding-top: 20px;
  }

  .section-container,
  .section-container-right {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .crossfit-coaches-container {
    padding-top: 2vh;
    background-color: var(--background-color);
  }

  .crossfit-coaches-container > h1 {
    font-size: 28px;
  }

  .crossfit-journal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .crossfit-journal-text {
    width: 90%;
  }

  .crossfit-journal-text > h1 {
    font-size: 22px;
  }

  .crossfit-journal-img {
    height: 20vh;
    width: 85%;
  }

  .crossfit-journal-img > img {
    height: 100%;
    width: 100%;
  }

  .crossfit-coaches {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .coach {
    gap: 20px;
  }

  .crossfit-coach-img {
    width: 150%;
  }

  .service-banner {
    display: none;
  }

  .mobile-service-container {
    width: 100vw;
    padding-bottom: 25px;
  }

  .directions-container {
    justify-content: center;
  }

  .directions-text {
    display: none;
  }

  .newsletter-mobile {
    flex-direction: column;
  }

  .crossfit-header-logo {
    display: block;
    height: 125px;
    width: 125px;
    background-image: url("./src/assets/crossfit-white-remove-background.com.png");
    background-size: cover;
    position: absolute;
    top: 100px;
    right: 25px;
    z-index: 2;
  }

  /* .logo{
    width: 100% !important;
    height: auto !important;
  } */

  .crossfit {
    width: 20% !important;
    height: auto !important;
  }

  .adaptive-inclusive {
    /* background-color: var(--secondary-background-color); */
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    color: --text-color;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .adaptive-inclusive > div {
    background-color: transparent;
  }

  #review-header {
    font-size: 28px;
    text-align: center;
    padding: 15px;
  }

  .adaptive-inclusive > div > h1 {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
  }

  .adaptive-inclusive > ul {
    font-size: 1rem;
  }

  .ait-list {
    display: none;
  }

  .ait-list > li {
    margin-top: 0.5vh;
    font-size: 1rem;
  }

  .adaptive-inclusive > button {
    border-radius: 20px;
    font-size: 0.8rem;
    border: none;
    box-shadow: var(--box-shadow);
    margin-top: 10px;
  }

  .adaptive-inclusive > button:hover {
    background: #f6f9fe;
    color: #174ea6;
  }

  .adaptive-inclusive > * {
    margin-top: 0.5vh;
  }

  .sports-training-header {
    padding: 5px;
  }


  .intro-section-sports{
    align-items: start;
    justify-content: start;
    height: 100%;
    margin-top: 0;
    padding: 2vw
  }

  .intro-section {
  margin-top: 2vh;
  text-align: left;
  align-items: start;
  }

  .intro-section > h1 {
    font-size:  26px;
  }

  .intro-section > p  {
    font-size: 18px;
    text-align: left;
    width: 100%;
  }

  .intro-section-sports > p {
    width: 100%;
    text-align: left;
    font-size: 18px;
  }
  
  .intro-section-sports > h1 {
    font-size: 26px;
  }

  .service-section{
    width: 100%;
    height: fit-content;
  }

  

  .youth-page{
    width: 65vw;
    height: fit-content;
  }

}

/* Mobile landscape devices (phones and tablets) */
@media only screen and (min-width: 480px) and (max-width: 1400px) {
  .service-banner {
    display: none;
  }
  .iew-iner {
    display: flex;
    padding: 10px 0px 10px 0px;
  }
  .banner {
    margin-top: 0; /* Remove margin for mobile landscape screens */
    height: 50vh; /* Adjust height if needed */
  }
  .banner > img {
    top: 30px; /* Adjust image position */
  }

  .inclusive-nav-mobile {
    display: block;
  }

  .pt-wrapper {
    height: 40vh;
  }

  .inclusive-nav {
    display: none;
  }

  .chevron {
    margin-right: 15px; /* Slightly more space */
  }

  .training-tabs {
    background-color: var(--background-color);
  }

  .nav-container{
    height: 10vh;
  }

  .secondary-banner {
    margin-top: 0;
    justify-content: center;
  }

  .secondary-banner > .logo {
    height: auto;
    width: 30%; /* Adjust logo size */
    border-radius: 50%;
  }

  .secondary-banner > .crossfit {
    height: auto;
    width: 30%; /* Adjust logo size */
    border-radius: 50%;
  }

  .contact-banner > h4 {
    font-size: 18px; /* Slightly larger font size */
    text-align: center;
  }



  .phone-link {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 3rem !important; /* Adjust font size */
    width: 100%;
  }

  .newsletter-container {
    height: 100%;
    font-size: 10px; /* Increase font size */
    gap: 105px; /* Increase gap */
    padding: 10px; /* Increase padding */
    padding-bottom: 20px;
  }

  .newsletter-container > input {
    width: 85%; /* Adjust input width */
    height: 45px; /* Adjust input height */
    font-size: 16px; /* Increase font size */
  }

  .newsletter-container > h1 {
    width: 85%; /* Adjust width */
    margin: 10px;
    font-size: 24px; /* Increase font size */
    text-align: center;
  }

  .banner > h1 {
    font-size: 36px; /* Increase font size */
    top: 120px; /* Adjust top position */
  }

  .newsletter-container > button {
    height: 30px; /* Adjust button height */
    font-size: 12px; /* Increase font size */
    width: 80px; /* Adjust button width */
    border-radius: 10px; /* Adjust border radius */
  }

  .carousel-img > img {
    height: 50vh;
    width: 100%; /* Adjust carousel image height */
  }

  .carousel-slider {
    height: 55vh;
    width: 70%; /* Adjust slider height */
  }

  .carousel-div {
    height: 75vh;
    width: 70%; /* Adjust carousel div height */
  }

  .column {
    padding: 10px; /* Increase padding */
  }

  .one {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95vw;
  }

  .service-banner {
    padding: 10px; /* Increase padding */
  }

  .one > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Increase font size */
    width: 120px; /* Adjust width */
    height: 50px; /* Adjust height */
    padding: 5px;
    margin: 10px;
  }

  .one > h2:hover {
    font-size: 14px; /* Increase hover font size */
  }

  .two {
    height: 60vh; /* Increase height */
    top: 30px; /* Adjust position */
    padding: 15px; /* Increase padding */
    width: 95vw;
    align-items: center;
    justify-content: space-around;
  }

  .two > h1 {
    font-size: 28px; /* Increase font size */
    align-self: center;
    margin-bottom: 10px;
    text-align: center;
    max-width: 95%;
  }

  .two > h3 {
    font-size: 16px; /* Increase font size */
    height: 35px; /* Adjust height */
    width: 95%;
    align-self: center;
    text-align: center;
  }

  .two > img {
    height: 55%; /* Adjust height */
    width: 40%; /* Adjust width */
    top: 150px;
  }

  .two > button {
    height: 35px; /* Increase button height */
    width: 80px; /* Adjust button width */
    font-size: 8px; /* Increase font size */
    padding: 0;
    font-weight: 700;
    position: initial;
    align-self: center;
    margin: 15px;
  }

  
  .whycrossfit-container {
    height: 95vh;
    padding-top: 0px;
  }

  .section-container-right > p {
    width: 100%;
  font-size: 18px;
  padding-left: 150px;
  }

  .section-container > p {
    width: 100%;
    font-size: 18px;
    padding-right: 150px;
  }


  .directions-container {
    height: 35vh; /* Increase height */
  }

  .mapstyles {
    height: 100%;
    width: 95vw; /* Adjust width */
  }

  .crossfit-banner {
    width: 90%;
    margin-top: 1vh;
  }

  .directions-text > h2 {
    font-size: 16px; /* Increase font size */
    padding: 2px;
  }

  .directions-text > p {
    font-size: 12px; /* Increase font size */
  }

  .directions-text > button {
    height: 35px; /* Increase button height */
    font-size: 14px; /* Increase font size */
  }

  .skull-div {
    height: 2vh; /* Increase height */
  }

  .footer-div {
    height: 20vh; /* Increase height */
    font-size: 14px; /* Increase font size */
    gap: 5px;
    background-size: cover;
  }

  .footer-div > img {
    display: none;
  }

  .crossfit-page > .newsletter-container {
    margin-top: 0;
  }

  .youth-page > .newsletter-container {
    margin-top: 12vh; /* Increase margin */
  }

  .team-container > .newsletter-container {
    margin-top: 12vh; /* Increase margin */
  }

  .service-img {
    height: 250px; /* Adjust height */
    width: 95%;
    align-self: center;
    margin: 0;
    position: initial;
    margin-bottom: 10px;
  }

  .header-one {
    font-size: 40px; /* Increase font size */
    top: 5px;
  }

  .crossfit-header > h2 {
    font-size: 72px; /* Increase font size */
    top: 5px;
  }

  .crossfit-header {
    background-position: center center;
    height: 40vh; /* Increase height */
  }

  .training-container {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 85vw; /* Increase width */
    padding: 1rem;
  }

  .training-item {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .css-xov06r {
    align-items: flex-start !important;
    width: 30% !important; /* Adjust width */
    margin: 0;
    margin-top: 20px;
  }

  .css-19kzrtu {
    padding: 0 !important;
  }

  .training-div {
    margin: 0;
    padding: 0;
  }

  .youth-page {
    flex-direction: column-reverse;
    width: 100%;
    padding-bottom: 2vh; /* Increase bottom padding */
  }

  .youth-info {
    width: 100%;
    padding-right: 0;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    margin: 1vh;
    box-shadow: var(--box-shadow);
  }

  .youth-info > h1 {
    font-size: 1.8rem; /* Increase font size */
  }

  .youth-info > h3 {
    font-size: 1.2rem; /* Increase font size */
  }

  .youth-info > p {
    font-size: 1rem; /* Increase font size */
  }

  .youth-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    margin: 1vh;
  }

  .youth-img > img {
    width: 100%;
  }

  .trainer-list {
    width: 30%; /* Adjust width */
  }

  .trainer-item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .trainer-thumbnail {
    width: 90%;
    border-radius: 35%;
  }

  .trainer-name {
    font-size: 14px; /* Increase font size */
  }

  .trainer-bio {
    font-size: 12px; /* Increase font size */
  }

  .top-container {
    flex-direction: column;
    justify-content: center;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .banner > h2 {
    font-size: 20px; /* Increase font size */
    margin-top: 5px;
  }

  .sports-training-header {
    padding: 5px;
    height: 40vh !important;
    margin-top: 10vh;
  }


  .intro-section-sports{
    align-items: end;
    justify-content: start;
    height: 100%;
    margin-top: 0;
    padding: 2vh;
  }

  .intro-section-sports > p {
    text-align: left;
  }

  .intro-section > p {
    width: 100%;
    text-align: center;
    font-size: 26px;
  }
  
  .intro-section-sports > h1 {
    font-size: 62px;
  }

  .service-section{
    width: 100%;
    max-width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row !important;
  }

  .personal-service-section {
    display: column;
    height: 65vh;
  }

  .image-container {
    width: 100%;
  }

  .training-container{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .training-service-btns{
    display: flex !important;
    flex-direction: column !important;
    align-items: end !important;
  }

  .training-service-btns > a{
    width: 100%;
  }

  .training-service-btns > a > button{
    width: 100%;
  }

  footer{
    height: 30vh;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
  }

  .left-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    position: static;
    padding: 25px;
  }

  .left-div > ul{
    gap: 10px;
  }

  .footer-logo-test{
    height: 100%;
    position: static;
    width: 30%;
  }

  .img-container{
    position: static;
    width: 15%;
  }

}
