:root {--primary: #ed1c26}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif !important;
}
.nav-container {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.MuiTabs-indicator {
  background-color: var(--primary) !important;
}

.Mui-selected {
  color: var(--primary) !important;
  font-family: "Rock Salt", cursive !important;
}

.logo {
  height: 100%;
  /* border: solid black 1px; */
  width: 10%;
}

.crossfit{
  height:80%;
  /* border: solid black 1px; */
}

.contact-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}



.banner-logos {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

#facebook, #instagram {
  width: 7%;
}

.banner{
   border: 1px solid black;
   display: flex;
   justify-content: space-between;
   background-image: url('/src/assets/background-2.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100vw;
   height: 30vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.secondary-banner{
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}